/* Hide the number input */
.full-width-slider input {display: none;}
.full-width-slider .ui-slider-track {margin-left: 15px;}

#btn_ac_IO {border-color:#820f13; background-color:#ed1c24; color:#ffffff;}
#btn_ac_IO:hover {
    background-color:#FF2029;
    border-color:#8c1116;
}